{% for feature in features %}
    <li>
        <div class="feature">
            <a class="feature__cta"><img class="feature__cta__image" src="{{feature.image}}" alt="{{feature.heading}}" /></a>
            <div class="feature__hdg"><h2 class="hdg hdg--2">{{feature.heading}}</h2></div>
            <div class="feature__body">{{feature.description}}</div>
            <div class="feature__ft"><a href="#" class="btn">Read More</a></div>
        </div>
    </li>
{% endfor %}