/*
Banner

These are styles for creating image banners with captions.

Markup:
<div class="banner">
    <img src="http://www.fillmurray.com/800/200" alt="" class="banner__img">
    <div class="banner__caption">This is a caption</div>
</div>

Styleguide 1.0
*/
.banner {
    position: relative;
}

.banner__img {
    display: block;
    width: 100%;
    height: auto;
}

.banner__caption {
    background-color: rgba(0,0,0,.40);
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
}