/*
Blocks

Blocks are a way of laying out one or more rows of content that are all the same
width, but may vary in height. By default, each block item is 100% wide unless there's
a size modifier applied. Block styles are tag agnostic and can be applied to ordered or unordered lists.

Styleguide 2.0
*/

/*
.blocks--2up       - Two columns for all sizes.

Markup:
<div class="blocks blocks--2up">
    <div>item 1</div>
    <div>item 2</div>
    <div>item 3</div>
    <div>item 4</div>
</div>

Styleguide 2.1.0
*/

/*
.blocks--2upAtMd       - Two columns starting at Medium size.

Markup:
<div class="blocks blocks--2upAtMd">
    <div>item 1</div>
    <div>item 2</div>
    <div>item 3</div>
    <div>item 4</div>
</div>

Styleguide 2.1.1
*/

/*
.blocks--2upAtLg       - Two columns starting at Large size.

Markup:
<div class="blocks blocks--2upAtLg">
    <div>item 1</div>
    <div>item 2</div>
    <div>item 3</div>
    <div>item 4</div>
</div>

Styleguide 2.1.2
*/

/*
Other Variations:

All variations (default, atMd & atLg variations) are also available for 3up, 4up, and 5up.

* `blocks--2up`
* `blocks--2upAtMd`
* `blocks--2upAtLg`
* `blocks--3up`
* `blocks--3upAtMd`
* `blocks--3upAtLg`
* `blocks--4up`
* `blocks--4upAtMd`
* `blocks--4upAtLg`
* `blocks--5up`
* `blocks--5upAtMd`
* `blocks--5upAtLg`

Styleguide 2.2
*/
$blocks_MARGIN: 2%;
$blocks_TRUE_WIDTH: get-true-width($blocks_MARGIN);

.blocks {
    font-size: 0;
    margin-left: -$blocks_MARGIN;
}

.blocks > * {
    display: inline-block;
    font-size: $BASE_FONT_SIZE;
    margin-left: percentage(1 - $blocks_TRUE_WIDTH);
    width: get-column-width(1, $blocks_MARGIN); // initially set to 100% width by default\
    vertical-align: top;
}

@for $i from 2 through 5 {
    .blocks--#{$i}up > * {
        width: get-column-width(1/$i, $blocks_MARGIN);
    }
}

@include bpmin($SCREEN_MED) {
    @for $i from 2 through 5 {
        .blocks--#{$i}upAtMd > * {
            width: get-column-width(1/$i, $blocks_MARGIN);
        }
    }
}

@include bpmin($SCREEN_LARGE) {
    @for $i from 2 through 5 {
        .blocks--#{$i}upAtLg > * {
            width: get-column-width(1/$i, $blocks_MARGIN);
        }
    }
}