$box-PADDING: 10px;
/*
Box

These are generic boxy container styles.

Markup:
<div class="vr vr--4x">
    <div class="box">
        <div class="box__hd">box head</div>
        <div class="box__bd">box body</div>
        <div class="box__ft">box foot</div>
    </div>
</div>
<div class="vr vr--4x">
    <div class="box">
        <div class="box__hd">box head</div>
        <div class="box__bd">box body</div>
    </div>
</div>
<div class="vr vr--4x">
    <div class="box">
        <div class="box__bd">box body</div>
    </div>
</div>

Styleguide 3.0
*/
.box {
    padding: $box-PADDING;
    background: $COLOR_XLLT_GREY;
}

.box__hd {
    border-bottom: 1px solid $COLOR_LT_GREY;
    margin-top: -#{$box-PADDING};
    padding: $box-PADDING 0;
    margin-bottom: $box-PADDING;
}

.box__ft {
    border-top: 1px solid $COLOR_LT_GREY;
    margin-bottom: -#{$box-PADDING};
    padding: $box-PADDING 0;
    margin-top: $box-PADDING;
}