/*
Button

These are standard button styles to be used for `<button>`, `<input>`, `<span>`, or `<a>` tags.

Markup:
<button class="btn">Go</button>

Styleguide 4.0
*/
$btn_BG_COLOR: #3e779d;
$btn_TXT_COLOR: #ffffff;

.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: $btn_BG_COLOR;
    color: $btn_TXT_COLOR;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    @include transition(all .25s ease-in-out);
    @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.25));
}

.btn:hover,
.btn:focus {
    background-color: $btn_TXT_COLOR;
    color: $btn_BG_COLOR;
}