/*
Feature

This module is an image CTA, with a heading, description text, and a footer/btn area.

Markup:
<div class="feature">
    <a class="feature__cta"><img class="feature__cta__image" src="//fillmurray.com/200/200" /></a>
    <div class="feature__hdg">This is the heading</div>
    <div class="feature__body">Farm-to-table godard freegan, four dollar toast truffaut schlitz pork belly butcher before they sold out. Waistcoat slow-carb mixtape skateboard, pinterest deep v meh hoodie. Viral small batch truffaut, flexitarian gastropub wayfarers meditation kale chips salvia 90's pinterest ethical. IPhone kitsch craft beer pabst, schlitz waistcoat lo-fi pork belly VHS fixie XOXO.</div>
    <div class="feature__ft">Footer goes here</div>
</div>

Styleguide 5.0
*/
.feature__cta {
    display: block;
    margin-bottom: 10px;
}

.feature__cta__image {
    display: block;
    width: 100%;
}

.feature__hdg {
    margin-bottom: 10px;
}

.feature__body {
    margin-bottom: 15px;
}

.feature__ft {
    margin-bottom: 30px;
    // text-align: center;
}