/*
Grid

This is the general grid layout used for laying out chunks of different page content into columns.

####Classes for elements within the module:
* `.grid` is the base of the grid. It has a clearfix to contain its children and a negative left-margin to pull the inner columns flush with the left edge.
* `.grid__col` is the column inside the grid. By default the column will have a 100% wide until a size modifier is applied.

####Modifier Classes within the module:

* `.grid__col--1of12`-`.grid__col--12of12`. There are `.grid__col--[n]of12AtMd` and `.grid__col--[n]of12AtLg` modifiers for screen size specific column widths.
* `.grid__col--push[n]of12` modifiers are available to 'push' the content left for content re-ordering.
* `.grid__col--pull[n]of12` modifiers are available to 'pull' the content right for content re-ordering.

Markup:
<div class="grid">
    <div class="grid__col grid__col--1of12">1of12</div>
    <div class="grid__col grid__col--11of12">11of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--2of12">2of12</div>
    <div class="grid__col grid__col--10of12">10of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--3of12">3of12</div>
    <div class="grid__col grid__col--9of12">9of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--4of12">4of12</div>
    <div class="grid__col grid__col--8of12">8of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--5of12">5of12</div>
    <div class="grid__col grid__col--7of12">7of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--6of12">6of12</div>
    <div class="grid__col grid__col--6of12">6of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--7of12">7of12</div>
    <div class="grid__col grid__col--5of12">5of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--8of12">8of12</div>
    <div class="grid__col grid__col--4of12">4of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--9of12">9of12</div>
    <div class="grid__col grid__col--3of12">3of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--10of12">10of12</div>
    <div class="grid__col grid__col--2of12">2of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--11of12">11of12</div>
    <div class="grid__col grid__col--1of12">1of12</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--12of12 grid__col--6of12AtMd">6of12AtMd</div>
    <div class="grid__col grid__col--12of12 grid__col--6of12AtMd">6of12AtMd</div>
</div>
<div class="grid">
    <div class="grid__col grid__col--6of12 grid__col--push6of12">6of12 push6o12 (1st in dom)</div>
    <div class="grid__col grid__col--6of12 grid__col--pull6of12">6of12 pull6o12 (2nd in dom)</div>
</div>

Styleguide 6.0
*/

/*
Styleguide 6.1
*/
$grid_MARGIN: 2%;
$grid_TRUE_WIDTH: get-true-width($grid_MARGIN);

.grid {
    @include clearfix();
    margin-left: -$grid_MARGIN;
}

.grid__col {
    float: left;
    margin-left: percentage(1 - $grid_TRUE_WIDTH);
    position: relative;
    width: get-column-width(1, $grid_MARGIN);
}

@for $i from 1 through 12 {
    .grid__col--#{$i}of12 {
        width: get-column-width($i/12, $grid_MARGIN);
    }

    .grid__col--push#{$i}of12 {
        left: get-column-width($i/12, $grid_MARGIN) + $grid_MARGIN;
    }

    .grid__col--pull#{$i}of12 {
        right: get-column-width($i/12, $grid_MARGIN) + $grid_MARGIN;
    }
}

@include bpmin($SCREEN_MED) {
    @for $i from 1 through 12 {
        .grid__col--#{$i}of12AtMd {
            width: get-column-width($i/12, $grid_MARGIN);
        }

        .grid__col--push#{$i}of12AtMd {
            left: get-column-width($i/12, $grid_MARGIN) + $grid_MARGIN;
        }

        .grid__col--pull#{$i}of12AtMd {
            right: get-column-width($i/12, $grid_MARGIN) + $grid_MARGIN;
        }
    }
}

@include bpmin($SCREEN_LARGE) {
    @for $i from 1 through 12 {
        .grid__col--#{$i}of12AtLg {
            width: get-column-width($i/12, $grid_MARGIN);
        }

        .grid__col--push#{$i}of12AtLg {
            left: get-column-width($i/12, $grid_MARGIN) + $grid_MARGIN;
        }

        .grid__col--pull#{$i}of12AtLg {
            right: get-column-width($i/12, $grid_MARGIN) + $grid_MARGIN;
        }
    }
}