/*
Heading

These are general heading styles for text headings

Markup:
<h1 class="hdg hdg--1">Heading 1</h1>
<h2 class="hdg  hdg--1">Heading 1</h2>
<h3 class="hdg hdg--1">Heading 1</h3>
<h4 class="hdg  hdg--1">Heading 1</h4>
<h5 class="hdg hdg--1">Heading 1</h5>
<h6 class="hdg  hdg--1">Heading 1</h6>
<h1 class="hdg hdg--1 hdg--lh1">Heading 1</h1>
<h2 class="hdg  hdg--1 hdg--lh1">Heading 1</h2>
<h3 class="hdg hdg--1 hdg--lh1">Heading 1</h3>
<h4 class="hdg  hdg--1 hdg--lh1">Heading 1</h4>
<h5 class="hdg hdg--1 hdg--lh1">Heading 1</h5>
<h6 class="hdg  hdg--1 hdg--lh1">Heading 1</h6>
<h1 class="hdg hdg--2">Heading 1</h1>
<h2 class="hdg  hdg--2">Heading 1</h2>
<h3 class="hdg hdg--2">Heading 1</h3>
<h4 class="hdg  hdg--2">Heading 1</h4>
<h5 class="hdg hdg--2">Heading 1</h5>
<h6 class="hdg  hdg--2">Heading 1</h6>
<h1 class="hdg hdg--2 hdg--lh1">Heading 1</h1>
<h2 class="hdg  hdg--2 hdg--lh1">Heading 1</h2>
<h3 class="hdg hdg--2 hdg--lh1">Heading 1</h3>
<h4 class="hdg  hdg--2 hdg--lh1">Heading 1</h4>
<h5 class="hdg hdg--2 hdg--lh1">Heading 1</h5>
<h6 class="hdg  hdg--2 hdg--lh1">Heading 1</h6>

Styleguide 7.0
*/
.hdg {
    font-weight: bold;
}

.hdg--1 {
    font-size: 36px;
}

.hdg--lh1 {
    line-height: 1;
}

.hdg--2 {
    font-size: 16px;
}