/*
Vertical Lists

These are styles for styling vertical lists of items

Markup:
<ul class="vList">
    <li>Vertical List item (default - same as vList--1x)</li>
    <li>Vertical List item (default - same as vList--1x)</li>
    <li>Vertical List item (default - same as vList--1x)</li>
    <li>Vertical List item (default - same as vList--1x)</li>
</ul>

Styleguide 8.0
*/

/*
.vList--2x - Two units of spacing between items

Markup:
<ul class="vList vList--2x">
    <li>Vertical List item (vList--2x)</li>
    <li>Vertical List item (vList--2x)</li>
    <li>Vertical List item (vList--2x)</li>
    <li>Vertical List item (vList--2x)</li>
</ul>

Styleguide 8.1.0
*/

/*
.vList--divided - Line divider between each item (spacing still the same)

Markup:
<ul class="vList vList--2x vList--divided">
    <li>Vertical List item (vList--2x with divider)</li>
    <li>Vertical List item (vList--2x with divider)</li>
    <li>Vertical List item (vList--2x with divider)</li>
    <li>Vertical List item (vList--2x with divider)</li>
</ul>

Styleguide 8.1.1
*/

/*
Other Variations:

Sizes variations range from 1x to 5x and are available with the `.vList--divided` optional class.

* `vList--1x`
* `vList--2x`
* `vList--3x`
* `vList--4x`
* `vList--5x`
* `vList--divided`

Styleguide 8.2
*/
$vList_UNIT: 10px;
$vList_UNITS: 5;

.vList > * + * {
    margin-top: $vList_UNIT;
}

@for $i from 1 through $vList_UNITS {
    .vList--#{$i}x > * + * {
        margin-top: $vList_UNIT*$i;
    }
}

.vList--divided > * + * {
    position: relative;
}

.vList--divided > * + *:before {
    content: ' ';
    width: 100%;
    height: 0;
    border-top: 1px solid;
    position: absolute;
    top: -($vList_UNIT/2);
}

@for $i from 1 through $vList_UNITS {
    .vList--#{$i}x.vList--divided > * + *:before {
        top: -(($vList_UNIT*$i)/2);
    }
}