/*
Vertical Rhythm

This a generic system for spacing out chunks of content or modules. This is not intended to be used as a utility inside of modules. Intra-module styles should be handled from inside the module and its namespace.

Markup:
<div class="vr">Vertical rhythm (default - .vr)</div>
<div class="vr vr--2x">Vertical rhythm (2x)</div>
<div class="vr vr--3x">Vertical rhythm (3x)</div>
<div class="vr vr--4x">Vertical rhythm (4x)</div>
<div class="vr vr--5x">Vertical rhythm (5x)</div>
<hr>

Styleguide 9.0
*/
$vr_UNIT: 5px;

.vr {
    margin-bottom: $vr_UNIT;
}
@for $i from 2 through 5 {
    .vr--#{$i}x {
        margin-bottom: $vr_UNIT*$i;
    }
}