<!-- index.html -->
{% extends "templates/layouts/default.html" %}

{% block content %}
    <ul>
        <li><a href="layout-1.html">Layout 1</a></li>
        <li><a href="layout-2.html">Layout 2</a></li>
    </ul>
{% endblock %}