<!-- index.html -->
{% extends "templates/layouts/default.html" %}

{% block content %}
<div class="vList vList--4x vList--divided">
    <div>
        <div class="banner">
            <img src="http://www.fillmurray.com/800/200" alt="" class="banner__img">
            <div class="banner__caption">This is a caption</div>
        </div>
    </div>
    <div>
        <ul class="blocks blocks--2up blocks--3upAtMd  blocks--4upAtLg">
            {% set features = features %}
            {% include "templates/partials/features.html" %}
        </ul>
    </div>
</div>

{% endblock %}