<!-- index.html -->
{% extends "templates/layouts/default.html" %}

{% block content %}
<div class="grid">
    <div class="grid__col grid__col--8of12AtMd grid__col--push4of12AtMd">
        <div class="vList vList--4x vList--divided">
            <div>
                <div class="banner">
                    <img src="http://www.fillmurray.com/800/200" alt="" class="banner__img">
                    <div class="banner__caption">This is a caption</div>
                </div>
            </div>
            <div>
                <ul class="blocks blocks--2upAtMd blocks--3upAtLg">
                    {% set features = features %}
                    {% include "templates/partials/features.html" %}
                </ul>
            </div>
        </div>
    </div>
    <div class="grid__col grid__col--4of12AtMd  grid__col--pull8of12AtMd">
        <div class="box">
            <div class="box__hd">
                <h3 class="hdg hdg--2 hdg--lh1">Related Content</h3>
            </div>
            <div class="box__bd">
                <ul class="u-bulletList">
                    <li><a href="#">item 1</a></li>
                    <li><a href="#">item 2</a></li>
                    <li><a href="#">item 3</a></li>
                    <li><a href="#">item 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}