/*
Utility Styles

These are generic utilitarian classes that should be used sparingly. Utilitarian classes composed together often enough is a sign that a new module needs to be created.

Styleguide 10.0
*/

/*
Visually Hidden

This utility will hide content in the browser, but will allow assisted devices (screen readers) to see the content.

Markup:
<div class="u-visuallyHidden">I'm visually hidden content</div>
<div>I'm not hidden content</div>

Styleguide 10.1
*/
.u-visuallyHidden {
    @include visuallyHidden();
}

/*
Bullet List

This utility is used to create a bulleted list similar to what the browser applies to an ordered list (`<ul>`) before the CSS reset is applied.

Markup:
<ul class="u-bulletList">
    <li><a href="#">item 1</a></li>
    <li><a href="#">item 2</a>
        <ul>
            <li><a href="#">item 1</a></li>
            <li><a href="#">item 2</a></li>
            <li><a href="#">item 3</a>
                <ul>
                    <li><a href="#">item 1</a></li>
                    <li><a href="#">item 2</a></li>
                    <li><a href="#">item 3</a></li>
                    <li><a href="#">item 4</a></li>
                </ul>
            </li>
            <li><a href="#">item 4</a></li>
        </ul>
    </li>
    <li><a href="#">item 3</a></li>
    <li><a href="#">item 4</a></li>
</ul>

Styleguide 10.2
*/
.u-bulletList {
    padding-left: 5px;
}

.u-bulletList li {
    margin-left: 15px;
    list-style-type: disc;
}

.u-bulletList li li {
    list-style-type: square;
}

.u-bulletList li li li {
    list-style-type: circle;
}