<!doctype html>
<html lang="eng" class="page">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if ! lte IE 8]>-->
            <link rel="stylesheet" href="{{CSS_BUNDLE_MODERN}}">
        <!--<![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
            <link rel="stylesheet" href="{{CSS_BUNDLE_LEGACY}}">
        <![endif]-->
    </head>
    <body class="page__bd">
        <div class="page__bd__row">
            <div class="header" role="banner">
                <div class="wrapper">
                    <div class="header__hdr">
                        <h1 class="hdg hdg--1 hdg--lh1">header</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__bd__row page__bd__row--expanded">
            <div id="content" class="content" role="main">
                <div class="wrapper">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
        <div class="page__bd__row">
            <div class="footer" role="contentinfo">
                <div class="wrapper">footer</div>
            </div>
        </div>
    </body>
</html>

