@import "github.css";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.styleguide-reset * {
  line-height: 1.4;
}
.styleguide-reset abbr[title] {
  border-bottom: 1px dotted;
}
.styleguide-reset hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.styleguide-reset mark {
  background: #ff0;
  color: #000;
}
.styleguide-reset code,
.styleguide-reset kbd,
.styleguide-reset pre,
.styleguide-reset samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.styleguide-reset q {
  quotes: \201C \201D \2018 \2019;
}
.styleguide-reset small {
  font-size: 90%;
}
.styleguide-reset sub,
.styleguide-reset sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.styleguide-reset sup {
  top: -0.5em;
}
.styleguide-reset sub {
  bottom: -0.25em;
}
.styleguide-reset fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.styleguide-reset button,
.styleguide-reset input,
.styleguide-reset select,
.styleguide-reset textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.styleguide-reset button,
.styleguide-reset select {
  text-transform: none;
}
.styleguide-reset button,
.styleguide-reset html input[type="button"],
.styleguide-reset input[type="reset"],
.styleguide-reset input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.styleguide-reset input[type="checkbox"],
.styleguide-reset input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.styleguide-reset input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.styleguide-reset input[type="search"]::-webkit-search-cancel-button,
.styleguide-reset input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.styleguide-reset textarea {
  overflow: auto;
  vertical-align: top;
}
.styleguide-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.styleguide-reset h1,
.styleguide-reset h2,
.styleguide-reset h3,
.styleguide-reset h4,
.styleguide-reset h5,
.styleguide-reset h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}
.styleguide-reset h1 {
  font-size: 30px;
  margin: 15px 0;
}
.styleguide-reset h2 {
  font-size: 21px;
}
.styleguide-reset h3 {
  font-size: 16px;
}
.styleguide-reset ul,
.styleguide-reset ol {
  padding: 0;
  margin: 0;
}
.styleguide-reset a img {
  border: none;
}
.styleguide-reset tt,
.styleguide-reset code,
.styleguide-reset pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}
.styleguide-reset pre {
  margin-top: 0;
  margin-bottom: 0;
}
.styleguide-reset a {
  color: #4183c4;
  text-decoration: none;
}
.styleguide-reset a:hover {
  color: #4183c4;
  text-decoration: underline;
}
.styleguide-reset a:focus {
  outline: thin dotted;
}
.styleguide-reset a:active,
.styleguide-reset a:hover {
  outline: 0;
}
#styleguide {
  min-width: 1020px;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
#styleguide .styleguide-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#styleguide .styleguide-container:before,
#styleguide .styleguide-container:after {
  content: " ";
  display: table;
}
#styleguide .styleguide-container:after {
  clear: both;
}
#styleguide .styleguide-header {
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#styleguide .styleguide-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
#styleguide .styleguide-menu {
  float: left;
  width: 200px;
  padding: 3px;
  font-size: 13px;
  background: #efefef;
  border-radius: 2px;
}
#styleguide .styleguide-menu .styleguide-menu-list {
  background: #fafafb;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  list-style: none;
}
#styleguide .styleguide-menu .styleguide-menu-list li {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
}
#styleguide .styleguide-menu .styleguide-menu-list li:first-child {
  border-top: none;
}
#styleguide .styleguide-menu .styleguide-menu-list li::last-child {
  border-bottom: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a {
  color: #4183c4;
  text-decoration: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a:hover {
  color: #4183c4;
  text-decoration: underline;
}
#styleguide .styleguide-menu .styleguide-menu-list a:focus {
  outline: thin dotted;
}
#styleguide .styleguide-menu .styleguide-menu-list a:active,
#styleguide .styleguide-menu .styleguide-menu-list a:hover {
  outline: 0;
}
#styleguide .styleguide-menu .styleguide-menu-list a {
  display: block;
  padding: 8px 10px 8px 8px;
  text-shadow: 0 1px 0 #fff;
  border-left: 2px solid #fafafb;
}
#styleguide .styleguide-menu .styleguide-menu-list a:hover {
  background: #fdfdfe;
  text-decoration: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a:focus,
#styleguide .styleguide-menu .styleguide-menu-list a:active {
  text-decoration: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a.selected {
  background: #fff;
  border-left: 2px solid #d26911;
  font-weight: bold;
  color: #222;
  cursor: default;
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
}
#styleguide .styleguide-content {
  float: left;
  width: 754px;
  margin-left: 20px;
  font-size: 14px;
}
#styleguide .styleguide-markdown-body,
#styleguide .markdown-body {
  font-size: 15px;
  overflow: hidden;
  line-height: 1.7;
  word-wrap: break-word;
}
#styleguide .styleguide-markdown-body *,
#styleguide .markdown-body * {
  line-height: 1.7;
}
#styleguide .styleguide-markdown-body p,
#styleguide .markdown-body p,
#styleguide .styleguide-markdown-body blockquote,
#styleguide .markdown-body blockquote,
#styleguide .styleguide-markdown-body ul,
#styleguide .markdown-body ul,
#styleguide .styleguide-markdown-body ol,
#styleguide .markdown-body ol,
#styleguide .styleguide-markdown-body dl,
#styleguide .markdown-body dl,
#styleguide .styleguide-markdown-body table,
#styleguide .markdown-body table,
#styleguide .styleguide-markdown-body pre,
#styleguide .markdown-body pre {
  margin: 15px 0;
}
#styleguide .styleguide-markdown-body h1,
#styleguide .markdown-body h1,
#styleguide .styleguide-markdown-body h2,
#styleguide .markdown-body h2,
#styleguide .styleguide-markdown-body h3,
#styleguide .markdown-body h3,
#styleguide .styleguide-markdown-body h4,
#styleguide .markdown-body h4,
#styleguide .styleguide-markdown-body h5,
#styleguide .markdown-body h5,
#styleguide .styleguide-markdown-body h6,
#styleguide .markdown-body h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  cursor: text;
  position: relative;
}
#styleguide .styleguide-markdown-body ol,
#styleguide .markdown-body ol,
#styleguide .styleguide-markdown-body ul,
#styleguide .markdown-body ul {
  padding-left: 30px;
}
#styleguide .styleguide-markdown-body ul li,
#styleguide .markdown-body ul li {
  list-style: disc;
}
#styleguide .styleguide-markdown-body > *:first-child,
#styleguide .markdown-body > *:first-child {
  margin-top: 0 !important;
}
#styleguide .styleguide-markdown-body > *:last-child,
#styleguide .markdown-body > *:last-child {
  margin-bottom: 0 !important;
}
#styleguide .styleguide-markdown-body pre,
#styleguide .markdown-body pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  word-wrap: normal;
}
#styleguide .styleguide-markdown-body pre code,
#styleguide .markdown-body pre code,
#styleguide .styleguide-markdown-body pre tt,
#styleguide .markdown-body pre tt {
  background-color: transparent;
  border: none;
  word-wrap: normal;
  margin: 0;
  padding: 0;
}
#styleguide .styleguide-markdown-body code,
#styleguide .markdown-body code,
#styleguide .styleguide-markdown-body tt,
#styleguide .markdown-body tt {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#styleguide .styleguide-markdown-body h1,
#styleguide .markdown-body h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
}
#styleguide .styleguide-markdown-body h2,
#styleguide .markdown-body h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}
#styleguide .styleguide-markdown-body h3,
#styleguide .markdown-body h3 {
  font-size: 1.5em;
}
#styleguide .styleguide-markdown-body h4,
#styleguide .markdown-body h4 {
  font-size: 1em;
}
#styleguide .styleguide-markdown-body em,
#styleguide .markdown-body em,
#styleguide .styleguide-markdown-body i,
#styleguide .markdown-body i {
  font-style: italic;
}
#styleguide .styleguide-markdown-body strong,
#styleguide .markdown-body strong,
#styleguide .styleguide-markdown-body b,
#styleguide .markdown-body b {
  font-weight: bold;
}
#styleguide .styleguide-example {
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#styleguide .styleguide-example:first-child {
  margin-top: 0;
}
#styleguide .styleguide-example > .styleguide-example-header h3 {
  margin: -1px -1px 0;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background: #333;
  border-top: 1px solid #000;
}
#styleguide .styleguide-example > .styleguide-example-header h3 em {
  float: right;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  color: #999;
  line-height: 1;
}
#styleguide .styleguide-example .styleguide-description {
  padding: 15px 10px;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
#styleguide .styleguide-example .styleguide-description p:first-child {
  margin-top: 0;
}
#styleguide .styleguide-example .styleguide-description p:last-child {
  margin-bottom: 0;
}
#styleguide .styleguide-example .styleguide-description code,
#styleguide .styleguide-example .styleguide-description tt {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#styleguide .styleguide-example .styleguide-element {
  position: relative;
  padding: 20px;
}
#styleguide .styleguide-example .styleguide-element + .styleguide-element {
  margin-top: -5px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
#styleguide .styleguide-example .styleguide-element .styleguide-modifier-name {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  margin: 0;
  font-size: 11px;
  color: #999;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-top: none;
}
#styleguide .styleguide-example .styleguide-html {
  padding: 15px 15px;
  background: #edf6f8;
  border-top: 1px solid #dde7ea;
  overflow: auto;
}
#styleguide .styleguide-example .styleguide-html .styleguide-html-highlight {
  background: none;
}
#styleguide ul.styleguide-modifier {
  list-style-type: disc;
}
#styleguide ul.styleguide-modifier li strong {
  font-weight: bold;
}
#styleguide ul.styleguide-modifier li p {
  display: inline;
  margin: 0;
}
#styleguide .styleguide-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
}
#styleguide .styleguide-footer p {
  margin: 0;
}
#styleguide .styleguide-footer p:first-child {
  float: left;
}
#styleguide .styleguide-footer p:last-child {
  float: right;
}
