body {
    background-color: $COLOR_WHITE;
    font-family: $FONT_DEFAULT;
    font-size: $BASE_FONT_SIZE;
    line-height: 1.428;
}

p {
    margin-bottom: 1em;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}